* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.col-auto {
    flex: 0 0 250px;
    /* Ancho fijo del sidebar */
}

.flex-grow-1 {
    flex-grow: 1;
    /* Permite que el contenido se expanda */
}

