

.container3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(47, 75, 99);
}

.card1 {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card1 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card1 .back2 {
    background: #ff9e08;
}

.card1 .back3 {
    background: #ff0f27;
}

.card1 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a {
    color: #f3f3f3;
}

.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card1 .back p {
    letter-spacing: 1px;
}

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.ima {
    width: 100px;
    height: auto;
}